{% block body %}

    <div class="container-fluid" id="footer">

        <div class="row" id="footercontact">

            <div class="col-md-12" id="contact">Contact</div>

            <div class="col-md-12" id="click"><i class="fa fa-arrow-circle-down fa-2x" aria-hidden="true"></i></div>
                        
            <div class="col-md-6" id="adresse">
                <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></br>
                <a href="https://www.google.com/maps/place/24+Rue+Christian+G%C3%A9rard,+77176+Savigny-le-Temple/@48.5804484,2.5836863,17z/data=!3m1!4b1!4m5!3m4!1s0x47e5e4e899f794f5:0x70735de856e3b19b!8m2!3d48.5804484!4d2.585875">
                    24 rue Christian Gérard</br>
                    77176 Savigny le Temple</br>
                    FRANCE
                </a>
            </div>
            <!-- FIN ADRESSE -->
            <div class="col-md-6" id="mailnumero">
                </br>
                <i class="fa fa-mobile" aria-hidden="true" id="nummob"> +33627795306</i></br>
                <i class="fa fa-phone" aria-hidden="true" id="numfixe"> +33164791849</i></br>
                <a href="mailto:tacovl@hotmail.fr"><i class="fa fa-envelope-o" aria-hidden="true" id="mail"> tacovl@hotmail.fr</i></a></br>
                <a class="gmail" href="mailto:vienglouang.sinhthoulath.bts@gmail.com" alt="vienglouang.sinhthoulath.bts@gmail.com" title="vienglouang.sinhthoulath.bts@gmail.com"><i class="fa fa-envelope-o fa-2x" id="mail2" > vienglouang.sinhthoulath.bts@gmail.com</i></a>
            </div>
            <!-- FIN MAILNUMERO -->
            <div class="col-md-12" id="mask"><i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true"></i></div>

            <div class="col-md-12" id="back"><a href="#titre"><i class="fa fa-chevron-up fa-2x" aria-hidden="true"></i></a></div>

            <div class="col-md-1" id="vf1"></div>
            <div class="col-md-2" id="face"><a class="facebook" href="https://facebook.com/sinhthoulath.vienglouang"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></div>
            <div class="col-md-2" id="inst"><a class="instagram" href="https://instagram.com/sinhthoulath/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></div>
            <div class="col-md-2" id="yout"><a class="youtube" href="https://youtube.com/channel/UCiiiHxNl61eYwKIjCn8dOkw?view_as=subscriber"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a></div>
            <div class="col-md-2" id="link"><a class="linkedin" href="https://www.linkedin.com/public-profile/in/sinhthoulath-vieng-louang-1882551b1/?challengeId=AQFQVIrETc16oQAAAXQnlKxp_doLysZOHDzaHuj6N5s25qcHvwP7n4VaOxBTnXuIqoW6LeccCIT_dACRuGDdHPrBRJWih7SvqA&submissionId=8a05544a-f4a0-2e16-9afb-719ca3e9f97a"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></div>
            <div class="col-md-2" id="twit"><a class="twitter" href="https://twitter.com/Sinhthoulath"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></div>
            <div class="col-md-1" id="vf2"></div>

            <div class="col-md-12" id="copy"><i class="fa fa-copyright" aria-hidden="true"></i> 2020 Vieng Louang Sinhthoulath</div>

        </div>
        <!-- FIN FOOTERCONTACT -->
    
    </div>
    <!-- FIN CONTAINER FLUID -->

{% endblock %}